/* base */
@import "../base/reset.css";
@import "../base/layout.css";
@import "../base/variables.css";

/* 3rd-party */

/* components */
@import "../components/button.css";
@import "../components/clock.css";
@import "../components/form.css";
@import "../components/mouse.css";
@import "../components/progress-bar.css";

/* HEADER */
.hero {
  min-height: 100vh;
  padding-bottom: 30px;
  background-image: url(../../img/banner-1.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.hero > .row-short {
  text-align: center;
}

.logo {
  margin-bottom: 45px;
}
.main-title {
  font-size: 44px;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.main-description {
  color: #777;
  font-size: 18px;
  margin-bottom: 30px;
}
.clock {
  margin-bottom: 45px;
}
.form {
  margin-bottom: 15px;
}

/* MAIN CONTENT */
.column > * {
  margin-bottom: 20px;
}
.column > *:last-child {
  margin-bottom: 0;
}

.content-title {
  text-transform: uppercase;
  font-size: 20px;

  line-height: 20px;
}
.content-description {
  font-size: 17px;
  color: #999;
}
.content-description > .link {
  color: var(--secondary-color);
  text-decoration: none;
}
.content-description > .link:hover {
  text-decoration: underline;
}

/* FOOTER */
