/* base */
@import "../base/reset.css";
@import "../base/layout.css";
@import "../base/variables.css";

/* 3rd-party */

/* components */
@import "../components/button.css";
@import "../components/clock.css";
@import "../components/form.css";
@import "../components/mouse.css";
@import "../components/progress-bar.css";

/* HEADER */
.hero {
  padding-bottom: 30px;
}
.hero > .row-short {
  text-align: center;
}

.logo {
  margin-bottom: 45px;
}
.main-title {
  font-size: 44px;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.main-description {
  color: #777;
  font-size: 18px;
  margin-bottom: 45px;
}
.clock {
  margin-bottom: 45px;
}
.form {
  margin-bottom: 15px;
}

/* MAIN CONTENT */
/* FOOTER */
